<section id="footer">
  <div class="footer-container">
    <span class="branding"> © dev-portfolio.com </span>

    <div class="foot-section current-projects">
      <div class="section-title">Current projects</div>
      <hr />
      <ul>
        <li>Node blah</li>
        <li>Angular app</li>
        <li>Ejemp</li>
        <li>Ejemp</li>
      </ul>
    </div>
    <div class="foot-section jump-to">
      <div class="section-title">Jump to</div>
      <hr />
      <ul>
        <li>Work</li>
        <li>Resume</li>
        <li>Contact</li>
        <li>Spanish Version</li>
      </ul>
    </div>
    <div class="foot-section reach-out">
      <div class="section-title">Reach out</div>
      <hr />
      <ul class="social">
        <li>
          <img class="logo" src="../../../assets/images/gitLogo64.png" alt="" />
        </li>
        <li>
          <img class="logo" src="../../../assets/images/linkedin.png" alt="" />
        </li>
        <li>
          <img
            class="logo"
            src="../../../assets/images/Instagram_Glyph_Gradient.png"
            alt=""
          />
        </li>
        <li>
          <img class="logo" src="../../../assets/images/gmail.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
