@import '/src/styles/_abstracts-dir';

// Mobile

.footer-container{
  background-color: black;
  color: $silver;
  padding: 2rem 1rem;
  // display: flex;
  // flex-direction: column;
  justify-content: space-around;
  // position: relative;
  // width: 100%;
  // bottom: 0;
  // position: fixed;
    width: 100%;
    // bottom: 0;
    .branding {
    margin-bottom: 1rem;
  }

  .foot-section{
    margin: auto 1rem;


    .section-title {
      font-weight: bolder !important;
      margin-top: .5rem;
      // .branding {
      //   color: red;
      // }
    }

    ul{
      list-style: none;
      padding: 0;
      margin: .5rem 0 1rem 0;
    }

    li{
      font-size: .9rem;
      cursor: pointer;

      &:hover {
        // border-bottom: 1px solid $silver;
        text-decoration: underline;
      }
    }

    hr {
      color: white;
      border: 1px solid white;
      max-width: 30%;
      margin: .5rem 0 .2rem 0;
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: .1rem 0;

      .logo {
        margin: auto;
        margin-top: 2rem;
        width: 30px;

      }
    }
  }


}
@include md {
  // .footer-container{
  //   position: fixed;
  //   width: 100%;
  //   bottom: 0;
  // }
}

// Desktop
@include lg {

  .footer-container{
    // background-color: red;
    display: flex;
    flex-direction: row;
    .social {

      li {
        margin: 0 1rem  0 0 ;
        .logo {
          margin-top: 1rem !important;
        }

        &:hover {
          border: none;
        }
      }
    }
  }
}
