<section id="footer">
  <div class="footer-container">
    <span class="branding"> Made with ❤️ in N.C.</span>

    <div class="foot-section current-projects">
      <!-- <div class="section-title">Current projects</div>
      <hr />
      <ul>
        <li>Node blah</li>
        <li>Angular app</li>
        <li>Ejemp</li>
        <li>Ejemp</li>
      </ul> -->
    </div>
    <div class="foot-section jump-to">
      <div class="section-title">Jump to:</div>
      <hr />
      <ul>
        <li *ngIf="!isActive('/home')" routerLink="/home">Home & Projects</li>
        <li *ngIf="!isActive('/resume')" routerLink="/resume" >Resume</li>
        <li *ngIf="!isActive('/contact')" routerLink="/contact" >Contact</li>
        <!-- <li>Spanish Version</li> -->
      </ul>
    </div>
    <div class="foot-section reach-out">
      <div class="section-title">Roast my code, let's connect.</div>
      <hr />
      <ul class="social">
        <li>
          <a href="https://github.com/EliasTM1">
            <img class="logo" src="../../../assets/images/icons/gitLogo64.png" alt="" />
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/elias-manzano">
            <img class="logo" src="../../../assets/images/icons/linkedin.png" alt="" />
          </a>
        </li>
        <!-- <li>
          <img
            class="logo"
            src="../../../assets/images/icons/Instagram_Glyph_Gradient.png"
            alt=""
          />
        </li>
        <li>
          <img class="logo" src="../../../assets/images/icons/gmail.png" alt="" />
        </li> -->
      </ul>
    </div>
  </div>
</section>
