#header-details {
  background-color: #f8f3f0;
  border-bottom: 2px solid black;
}

.fade-in {
  animation: fadeIn 500ms ease-in-out; /* Adjust animation duration and timing function as needed */
}

section {
  .banner-container {
    display: flex;
    justify-content: center;

    .banner-img {
      height: auto;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .project-overview {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 80%;
      text-align: center;
    }
  }

  .project-info {
    display: flex;
    margin: 1.5rem 1rem;

    .project-features {
      width: 100%;
      h3 {
        padding-top: 10px;
        padding-bottom: 5px;
      }
      .technologies {
        display: flex;
        #chakraIcon {
          width: 80px;
        }
        .techIcon {
          width: 40px;
        }
      }
      .technologies img {
        justify-items: center;
        margin: auto;
        // flex-direction: row;
        justify-items: center;
        width: 25px;
      }

    }

    .project-conclusion {
      width: 100%;
    }

    .project-media {
      width: 50%;
    }

    .container {
      border: 1px solid black;
      // height: 'fit-content';
      height: 'fit-content';
      padding: 0;
      margin: 40px auto;
      display: block;
      position: relative;
      overflow: hidden;
      border: 0.5vmin solid #05060f;
      box-shadow: 0.4rem 0.4rem #05060f;
      border-radius: 0.5rem;
      width: 100%;
    }

    .wrapper {
      height: fit-content;
      width: 100%;

      img, video {
        object-fit: cover;
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  .repo-container {
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h3 {
      color: white;
    }

    button {
      a {
        color: white;
        text-decoration: none;
      }

      background-color: black;
      border-radius: 10px;
      border: 1px solid white;
      color: white;
      padding: 0.3rem 0.8rem;
      margin: 1.5rem;
      width: 300px;
      border: 0.5vmin solid #fff;
      box-shadow: 0.4rem 0.4rem #fff;
    }
  }
}

//  * For tablet
@media only screen and (max-width: 767px) {
}

//  * For mobile
@media only screen and (max-width: 767px) {
  section {
    .banner-container {
      .banner-img {
        width: 100%;
      }
    }
  }
}
