section {

  // background-color:  #f5f2eb;
  .banner-container {
    display: flex;
    justify-content: center;

    .banner-img {
      height: auto;
      // height: 350px;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .project-overview {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
    }

  }

  .project-info {
    display: flex;
    margin: 1.5rem 1rem;

    .project-features {
      width: 50%;
    }

    .project-media {
      width: 50%;
    }
  }

  .repo-container {
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h3 {
      color: white;
    }

    button {
      a {
        color: white;
        text-decoration: none;
      }

      background-color: black;
      border-radius: 10px;
      border: 1px solid white;
      color: white;
      padding: 0.3rem 0.8rem;
      width: 300px;
      border: 0.5vmin solid #fff;
      box-shadow: 0.4rem 0.4rem #fff;
    }
  }
}

//  * For tablet
@media only screen and (max-width: 767px) {}

//  * For mobile
@media only screen and (max-width: 767px) {
  section {
    .banner-container {
      .banner-img {
        width: 100%;
      }
    }
  }
}