<section>
  <img
    class="banner-img"
    src="../../../assets/images/projects/stocks/tickers.jpg"
  />
  <div class="project-overview">
    <h2>Project Name</h2>
    <hr class="style-eight">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      reprehenderit nisi consequuntur nemo. Distinctio ipsam provident a ex omnis
      culpa iste? Deserunt eos commodi eveniet eligendi. A modi libero quasi hic
      nulla dolor porro labore iste sequi tempora, in repellat quisquam mollitia
      fuga fugiat accusantium doloremque, molestiae dolore sed! Facilis!
    </p>
  </div>
  <div class="project-info">
    <div class="project-features">
      <h3>Features</h3>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
    </div>
    <div class="project-media">
      <h3>Screenshots</h3>
      <ul>
        <li>Media 1</li>
        <li>Media 2</li>
        <li>Media 3</li>
        <li>Media 4</li>
      </ul>
    </div>
  </div>
  <img
    class="banner-img"
    src="../../../assets/images/projects//stocks/laptop.jpg"
  />
  <div class="project-overview">
    <h2>Project Name</h2>
    <hr class="style-eight">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
      reprehenderit nisi consequuntur nemo. Distinctio ipsam provident a ex omnis
      culpa iste? Deserunt eos commodi eveniet eligendi. A modi libero quasi hic
      nulla dolor porro labore iste sequi tempora, in repellat quisquam mollitia
      fuga fugiat accusantium doloremque, molestiae dolore sed! Facilis!
    </p>
  </div>
  <div class="project-info">
    <div class="project-features">
      <h3>Features</h3>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
    </div>
    <div class="project-media">
      <h3>Screenshots</h3>
      <ul>
        <li>Media 1</li>
        <li>Media 2</li>
        <li>Media 3</li>
        <li>Media 4</li>
      </ul>
    </div>
  </div>
  <div class="repo-container">
    <h3>Please take a look to the repo</h3>
    <button>GitHub repo.</button>
  </div>
</section>
