@import '/src/styles/_abstracts-dir';
@import '/src/styles/_components-dir';

// Mobile

.fade-in {
  animation: fadeIn 500ms ease-in-out; /* Adjust animation duration and timing function as needed */
}

.title-container {
  width: 100%;
  text-align: center;
  background-color: #F8F3F0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid black
}

.section-header {
  @include section-title;
}

.section-description {
  #wink {
    font-size: 1.3rem;
  }
  padding-inline: 2rem;
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    margin-bottom: 2rem;
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  gap: .5rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    label {
      font-size: 1rem;
    }

    label {
      padding-bottom: 1rem;
    }

    input {
      outline: none;
      border: 0;
      border: 1px gray solid;
      padding: 8px;
      border-radius: .5rem;
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }

    textarea {
      padding: .5rem .5rem;
      height: 5rem;
      border-radius: .5rem;
      resize: none;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;

      .dark-button:hover {
        background-color: white;
        color: black;
      }
      .clear-button:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

// Tablet
@include md {
  .form-container {
    margin: auto;

    form {
      width: 100%;
    }
  }
}

// Destok
@include lg {

  .section-description {
    margin: auto 18.75rem;
  }

  .image-container {
    width: 50%;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-container {
    margin: auto;
    width: 50%;

    form {
      width: 80%;
    }
  }

}
