<section id="contact">
  <div class="title-container">
    <div class="section-header">Contact me</div>
    <hr class="style-eight">
    <div class="section-description">
      I'll get back to you in ASAP <span id="wink"> 😉</span>.
    </div>
  </div>
  <div class="contact-container">
    <div class="image-container">
      <img src="../../../assets/images/brainstorming.svg"
        alt="" />
    </div>
    <div class="form-container">
      <form action="https://formspree.io/f/maylzwko"
        method="POST">
        <input type="text"
        placeholder="Name"
          name="name"
          id="" />
        <input type="email"
        placeholder="Company"
          name="email"
          id="" />
        <input type="text"
        placeholder="E-mail"
          name="company"
          id="" />
        <input type="text"
        placeholder="Phone"
          name="phone"
          id="" />
        <textarea name="message"
        placeholder="Message"
          cols="30"
          rows="10"></textarea>
        <div class="button-container">
          <button type="submit"
            class="dark-button">Contact me</button>
          <button class="clear-button">Check my work</button>
        </div>
      </form>
    </div>
  </div>
</section>
