@import '/src/styles/_abstracts-dir';
@import '/src/styles/_components-dir';

// Mobile

.title-container {
  width: 100%;
  text-align: center;
}

.section-header {
  @include section-title;
}

.section-description {
  padding-inline: 2rem;
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  // margin-top: 2rem;
  // border-top: 1px solid $black;
  padding-top: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    // filter: invert(1);
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: auto;
  margin-top: 3rem;
  width: 100%;
  // background-color: black;

  form {
    // color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    label {
      font-size: 1rem;
    }

    label {
      padding-bottom: 1rem;
      letter-spacing: .2rem;
    }

    input {
      outline: none;
      letter-spacing: 3px;
      border: 0;
      border-bottom: 1px $black solid;
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }

    textarea {
      padding: .5rem 1rem;
      height: 5rem;
      resize: none;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
    }
  }
}

// Tablet
@include md {
  .form-container {
    margin: auto;
    // width: 100% !important;
  }
}

// Destok
@include lg {

  .section-description {
    margin: auto 18.75rem;
  }

  .image-container {
    width: 50%;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-container {
    margin: auto;
    width: 50%;

    form {
      width: 90%;
    }
  }

}