<section id="contact">
  <div class="title-container">
    <div class="section-header">
      Contact me       ☎️
    </div>
    <div class="section-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab sequi laudantium facere harum consectetur ea exercitationem illo consequuntur hic.
    </div>
  </div>
<div class="contact-container">
  <div class="image-container">
    <img src="../../../assets/images/blackWhite.png" alt="">
  </div>
  <div class="form-container">
    <form action="">
      <label for="name">Name</label>
      <input type="text" name="name" id="">
      <label for="email">Company</label>
      <input type="text" name="email" id="">
      <label for="company">E-mail</label>
      <input type="text" name="company" id="">
      <label for="phone">Phone</label>
      <input type="text" name="phone" id="">
      <label for="message">Message</label>
      <textarea name="message" id="" cols="30" rows="10"></textarea>
    </form>
  </div>
</div>
</section>
