@import "/src/styles/_abstracts-dir";
@import "/src/styles/_components-dir";
// Mobile
.section-header {
  padding: 1rem;
  background-color: #f8f3f0;
  border-bottom: solid 2px black;
  .section-title {
    padding: 1rem;
    @include section-title;
  }
  .section-description {
    text-align: center;
    width: 90%;
    margin: 2rem auto;
    line-height: 25px;

    @include lg {
      width: 60%;
    }
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out; /* Adjust animation duration and timing function as needed */
}

.resume {
  margin-top: 2rem;
  .techIcon {
    width: 50px;
  }

  #chakraIcon {
    width: 100px;
  }

  .sub-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .title-deco {
    @include dark-header;
    margin-bottom: 2rem;
  }

  .sub-header {
    transform: skew(20deg);
  }

  .experience-sub {
    border: 2px ridge $silver;
    padding: 1rem;
    width: 90%;
    @include sm {
      width: 90%;
    }
    margin-top: 3rem;
    margin-bottom: 3rem;

    .company-name {
      margin-top: 1.5rem;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
    }

    .company-name::before {
      position: absolute;
      width: 70px;
      transform: skew(-50deg);
      z-index: -1;
      content: "";
      background-color: #2cadee8d;
      height: 4px;
    }
    .date-loaction {
      div {
        width: 100px;
      }
    }

    .job-title {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  .img-container {
    display: flex;
    justify-content: center;
    position: relative;
    img {
      width: 80%;
    }

    #postIt {
      content: "";
      width: 70%;
      height: 50%;
      z-index: -1;
      background-color: rgba(0, 185, 241, 0.84);
      position: absolute;
      transform: rotate(15deg);
    }
    #postItOr {
      content: "";
      width: 70%;
      height: 50%;
      z-index: -1;
      background-color: rgba(255, 145, 0, 0.921);
      position: absolute;
      transform: rotate(-15deg);
    }
  }

  p {
    border: 0.2rem solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    height: fit-content;
    padding: 1rem;
    background-color: white;
    align-content: center;
    width: 90%;
    border-radius: 0.5rem;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

// Tablet
@include md {
  .about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    // margin-top: 2rem;
    .img-container {
      width: 100%;
      img {
        width: 50%;
      }

      #postIt {
        top: 80px !important;
        width: 70%;
        height: 50%;
      }

      #postItOr {
        top: 80px !important;
        width: 70%;
        height: 50%;
      }
      p {
        display: flex;
        align-items: center;
        margin: auto;
        width: 90%;
      }
    }
  }
}

// Destok
@include lg {
  .about-me {
    display: flex;
    flex-direction: row;
    .img-container {
      width: 50%;
      img {
        width: 80%;
      }

      #postIt {
        content: "";
        top: 200px;
        width: 80%;
        height: 50%;
        z-index: -1;
        background-color: rgba(0, 185, 241, 0.84);
        position: absolute;
        transform: rotate(20deg);
        left: 90px;
      }

      #postItOr {
        content: "";
        top: 200px;
        width: 80%;
        height: 50%;
        z-index: -1;
        background-color: rgba(255, 145, 0, 0.921);
        position: absolute;
        transform: rotate(-15deg);
        left: 90px;
      }
    }

    p {
      display: flex;
      align-items: center;
      margin: auto;
      width: 40%;
    }
  }
}
