<section id="experience">
  <div class="section-header">
    <h1 class="section-title highlight-red">About me</h1>
    <hr class="style-eight" />

    <p class="section-description">
      IT professional with over three years of experience in developing
      Enterprise-based Client-Server business applications with Angular, React,
      Spring Boot, HTML5, CSS3 as well as plain Javascript within agile
      frameworks. Dedicated to delivering high-quality solutions, optimizing
      performance, and ensuring smooth front-end and back-end integrations and
      communication.
    </p>
  </div>

  <div class="resume">
    <!-- <section class="technologies">
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/html-5-svgrepo-com.svg"
      />
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/css-3-svgrepo-com (1).svg"
      />
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/js-svgrepo-com.svg"
      />
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/react-javascript-js-framework-facebook-svgrepo-com.svg"
      />
      <img
        id="chakraIcon"
        src="../../../assets/images/techIcons/chakraUI.svg"
      />
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/ng-component-scss-svgrepo-com.svg"
      />
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/aws-svgrepo-com (1).svg"
      />

      <img
        class="techIcon"
        src="../../../assets/images/techIcons/github-142-svgrepo-com.svg"
      />
      <img
        class="techIcon"
        src="../../../assets/images/techIcons/git-svgrepo-com.svg"
      />

      <img
        class="techIcon"
        src="../../../assets/images/techIcons/node-js-svgrepo-com.svg"
      />

      <img class="techIcon" src="../../../assets/images/techIcons/redux.svg" />
    </section> -->

    <!-- <div class="sub-section-container">
      <div class="title-deco">
        <div class="sub-header">Experience</div>
      </div>
      <div class="experience-sub">
        <div class="company-name">Integrass</div>
        <div class="date-loaction">
          <div></div>
          Charlotte N.C. (Remote) 2021 - Current
        </div>
        <div class="job-title">Front-end Developer</div>

        <ul>
          <li>
            Developed application for managing global merchandise containers,
            providing real-time tracking for clients.
          </li>
          <li>
            Leveraged ag-Grid and highcharts libraries to create an interactive
            dashboard for data visualization.
          </li>
          <li>
            Implement a custom chakra theme on OOTB and custom components.
          </li>
          <li>
            Ensured the application compatibility across different browsers and
            devices, enhancing user accessibility.
          </li>
          <li>
            Worked closely with the backend team to ensure seamless integration
            of FE component with BE logic.
          </li>
          <li>
            Implementing functionality in existing codebases using Typescript
            and JavaScript.
          </li>
          <li>
            Migrated application from Angular to React, ensuring seamless
            functionality and enhanced user experience.
          </li>
          <li>
            Translating feedback into application improvements to and code
            enhancements
          </li>
          <li>
            Led initiatives to improve code quality, performance, and
            maintainability through code reviews, refactoring and implementation
            of design patters.
          </li>
          <li>
            Worked in an agile environment with daily stand-ups and technical
            refinements and used Agile practices to determine solutions to
            technical problems.
          </li>
          <li>
            Authored and modified YAML files in the backend project to define
            page structure and grid column specifications.
          </li>
        </ul>

        <div class="company-name">Integrass (Entry level)</div>
        <div class="date-loaction">
          <div></div>
          Charlotte N.C. (Remote) June 2021 - July 2022
        </div>
        <div class="job-title">Intern Developer</div>

        <ul>
          <li>
            Integrated new widgets into the app using the client's Angular
            component-based library.
          </li>
          <li>
            Utilized the client products for implementing authentication and
            authorization portals.
          </li>
          <li>
            Agile development processes, sprint planning, daily stand-ups,
            sprint reviews, and retrospective.
          </li>
          <li>
            Identified potential risks and devised effective strategies to
            mitigate them.
          </li>
          <li>
            Worked with the UI/UX team updating themes, managing media
            resources.
          </li>
          <li>
            Backend integration to register new users, recover passwords and
            limit registration attempts.
          </li>
          <li>
            Improved user experience by implementing client's latest
            requirements closely working with QA team.
          </li>
          <li>
            Migrated legacy client website to a modern looking website, ensuring
            all functionality regarding accessibility was kept intact.
          </li>
          <li>
            Assist code reviews and provided constructive feedback to team
            members to ensure adherence to SOLID principles.
          </li>
          <li>
            Implemented UI designs and mockups provided, ensuring pixel-perfect
            accuracy and responsiveness.
          </li>
          <li>
            Successfully completed the app within a short timeframe, gaining
            insight into the criticality of seemingly trivial cases.
          </li>
          <li>
            Developed web app for Banco Nacional de Peru to facilitate stimulus
            payments during the pandemic, focusing on inclusivity and
            accessibility for users without formal banking access.
          </li>
        </ul>
        <div class="company-name">Integrass (Intership)</div>
        <div class="date-loaction">
          <div></div>
          Charlotte N.C. (Remote) January 2021 - June 2021
        </div>
        <div class="job-title">Intern Developer</div>

        <ul>
          <li>
            Developed an internal website using HTML, CSS, typescript on
            Angular.
          </li>
          <li>
            Identified and fix bugs and issues in existing web applications,
            ensuring optimal functionality and performance.
          </li>
          <li>Acquired hands-on experience in an Agile workflow.</li>
          <li>
            Participate in code reviews, providing feedback on peers code and
            learning others styles and techniques.
          </li>
          <li>
            Contributed on developing new features, enhancements for live
            applications, following client's standard.
          </li>
          <li>
            Developed technical requirements and features using user stories,
            while tracking progress and challenges.
          </li>
          <li>
            Collaborated with other team members, including designers, BE
            developers to deliver on the estimated deadlines.
          </li>
          <li>
            Engaged in daily stand-up meetings and reviewed tasks using tools
            such as Jira and Confluence.
          </li>
          <li>
            Managed multiple project tickets effectively, always delivering
            before deadlines.
          </li>
          <li>
            Continuously having my code subjected to review by senior developers
            to ensure best practices.
          </li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="about-me">
    <!-- <div> -->
      <span id="postItOr"></span>
      <span id="postIt"></span>
      <img src="../../../assets/images/coding.svg">
    <!-- </div> -->
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam necessitatibus tenetur et libero fuga ipsum maiores deserunt praesentium quos ea.
    </p>
  </div>
</section>
