<section id="experience">
  <div class="section-header">
    <div class="section-title">Resume</div>
    <hr class="style-eight">
    <div class="section-description">
      As a Front-End Developer, I bring over two years of valuable experience in Object-Oriented Programming. I have
      developed a proficiency in crafting engaging and interactive web interfaces utilizing HTML, CSS, and advanced
      JavaScript frameworks, including Angular and React. My expertise also lies in thriving in collaborative
      development environments, which has enabled me to work effectively in teams and deliver high-quality software
      solutions.
    </div>

    <div class="sub-section-container">
      <div class="title-deco">
        <div class="sub-header">Experience</div>
      </div>
      <div class="experience-sub">
        <div class="company-name">Integrass</div>
        <div class="date-loaction">
          <div></div>
          Charlotte N.C. (Remote) 2021 - Current
        </div>
        <div class="job-title">Front-end Developer</div>

        <ul>
          <li>
            Developed and ensured the implementation of new operational
            processes to update and create new functionalities for 3 existing
            banking apps including Retail-Banking app, Team-member portal,
            Authentication & enrollment portal.
          </li>
          <li>
            Enhanced Retail-banking app by implementing with Angular app custom
            and pre-existent components with the main purpose to enable people
            to receive money from the government as a form of stimulus and
            perform core banking functionality.
          </li>
          <li>
            Assisted the implementation of Team-member portal so that the
            institution is able to interact with their customer aiding or
            managing claims regarding the service using HTML, CSS, JS & XML.
          </li>
          <li>
            Monitored, evaluated and reviewed existing processes and procedures
            and identified new initiatives and models to design Authentication &
            enrollment app to grant access to users after submitting the correct
            information, validating with government and phone service providers
            databases.
          </li>
          <li>
            Led communication with team members to support understanding,
            design, and implementation of custom functionality in existing
            codebases using TypeScript and JavaScript.
          </li>
          <li>
            Designed dynamic and browser compatible pages using HTML, CSS, and
            JS, structured complete pages with provided mocks using existing UI
            libraries.
          </li>
          <li>
            Using the pre-existent component library from the client, created
            functionality within them or in more particular cases, extending
            functionality to create new Angular components.
          </li>
          <li>
            Worked in an agile environment with daily stand-ups and technical
            refinements and used Agile practices to determine solutions to
            technical problems.
          </li>
          <li>
            Consistently identified risks and developed mitigation strategies;
            attending sprint planning, and retrospective sessions with front and
            back-end.
          </li>
        </ul>

        <div class="company-name">Integrass (Intership)</div>
        <div class="date-loaction">
          <div></div>
          Charlotte N.C. (Remote) January 2021 - June 2021
        </div>
        <div class="job-title">Intern Developer</div>

        <ul>
          <li>
            Gained knowledge and practical experience working in an agile
            environment.
          </li>
          <li>
            Utilized user stories to develop technical requirements, features in
            a timely manner, documenting progress and impediments.
          </li>
          <li>
            Attended workshops imparted by the company to get a better
            understanding of their products, upgrades, and functionalities.
          </li>
          <li>
            Participated in daily stand-up sessions, reviewing daily tasks on
            the Kanban board using Jira in combination with Confluence for the
            existing information and analysis.
          </li>
          <li>
            Identified appropriate technology to meet business needs while
            updating existing documentation explaining deployment process and
            tools configuration for newcomers.
          </li>
          <li>
            Analyzed data and used it to prepare reports and presentations,
            worked with other developers and clients to meet requirements,
            functionality and desired goals on time.
          </li>
          <li>
            Analyzed the scope of the projects, managed multiple tickets between
            projects always delivering before deadlines.
          </li>
          <li>
            Implemented reusable components from existing widget library
            provided by the client and supported projects by ensuring governance
            and processes are followed by other interns.
          </li>
          <li>
            Used information gathered in interactions to offer upgraded
            solutions, and paired with one senior engineer to shadow testing
            development process using Karma.
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="resume"></div>
</section>