<section id="experience">
  <div class="section-header">
    <div class="section-title">
      Lorem
    </div>
    <div class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab sequi laudantium facere harum consectetur ea exercitationem illo consequuntur hic.
      </div>

    <div class="sub-section-container">
      <div class="sub-header">Experience</div>
      <div class="experience-sub">
        <div class="company-name">
          <!-- <i class="gg-toolbox"></i> -->
          Lorem, ipsum something.</div>
        <div class="date-loaction">
          <div>
            <!-- <i class="gg-globe"></i> -->
          </div>
          Charlotte N.C. (Remote) =>  2020 - 2020</div>
        <div class="job-title">Lorem, ipsum something.</div>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit nisi consectetur exercitationem, aut ad?</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit nisi consectetur exercitationem, aut ad?</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit nisi consectetur exercitationem, aut ad?</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="resume"></div>
</section>

