@import "/src/styles/_abstracts-dir";
@import "/src/styles/_components-dir";
// Mobile
.section-header {
  padding: 1rem;
  background-color: #f8f3f0;
  border-bottom: solid 2px black;
  // letter-spacing: 1px;
  .section-title {
    @include section-title;
    padding: 1rem;
  }
  .section-description {
    text-align: center;
    width: 90%;
    @include lg {
      width: 60%;
    }
    margin: 2rem auto;
    line-height: 25px;
  }
}


.resume {
  margin-top: 2rem;
  .technologies {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .techIcon {
    width: 50px;
  }

  #chakraIcon {
    width: 100px;
  }

  .sub-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .title-deco {
    @include dark-header;
  }

  .sub-header {
    transform: skew(20deg);
  }

  .experience-sub {
    border: 2px ridge $silver;
    padding: 1rem;
    width: 90%;
    @include sm {
      width: 90%;
    }
    margin-top: 3rem;
    margin-bottom: 3rem;

    .company-name {
      margin-top: 1.5rem;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
    }

    .company-name::before {
      position: absolute;
      width: 70px;
      transform: skew(-50deg);
      z-index: -1;
      // margin-top: 5px;
      content: "";
      // background-color: #F8F3F0;
      background-color: #2cadee8d;
      height: 4px;
    }
    .date-loaction {
      div {
        width: 100px;
      }
    }

    .job-title {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}
