<header>
  <nav>
    <div class="logos">E T M</div>
    <div [ngClass]="collapseMenu === true ? 'nav-container' : 'nav-container-active'">
      <ul (click)="toggleCollapse()">
        <li routerLink="home" >Work</li>
        <li routerLink="resume" >Resume</li>
        <li routerLink="contact" >Contact</li>
        <li>EN | ES</li>
      </ul>
    </div>
  <div class="burger-container" (click)="toggleCollapse()">
    <button class="hamburger hamburger--emphatic burger" [ngClass]="collapseMenu === true ? '' : 'is-active' " type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</nav>
</header>
