/* You can add global styles to this file, and also import other style files */
@import './__abstracts-dir';
@import './__components-dir';
@import './__vendor-dir';
@import 'hamburgers/_sass/hamburgers/hamburgers.scss';

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: $body-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-serif;
}

.clear-button {
  @include clear-button;
}

.dark-button {
  @include black-button;
}

hr.style-eight {
  margin: 10px auto;
  width: 30%;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  height: 10px;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
