  .container {
    // background-color: #fff;
    // background-color: red;
    height: 30em;
    width: 100%;
    padding: 0;
    margin: 2rem auto;
    display: block;
    position: relative;
    top: 50%;
    // transform: translateY(-50%);
    left: 0;
    right: 0;
    box-shadow: 5px 5px 35px 0px #cbcbcb;
    // border: 3px solid black;
    overflow: hidden;

    .wrapper {
      height: 100%;
      width: 100%;
      position: relative;

      .slide {
        height: 100%;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .slide-img {
          width: 40%;
          float: left;
          position: relative;
          height: 100%;

          .fadeOut {
            opacity: 1;
            transition: opacity 1s;
          }

          .fadeOut.active {
            opacity: 0;
          }

          .fadeIn {
            opacity: 0;
            transition: opacity 1s;
          }

          .fadeIn.active {
            opacity: 1;
          }


          &:before {
            content: "";
            height: 0%;
            background-color: #fff;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 5;
            transition: all 0.5s ease-in-out;
          }

          &.active {
            &:before {
              // content: "";
              height: 100%;
              background-color: #fff;
              width: 100%;
              position: absolute;
              top: 0;
              bottom: 0;
              z-index: 5;
            }
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 0;
            bottom: 0;
          }
        }

        .slide-content {
          width: 60%;
          float: left;
          padding: 10% 8% 0em 8%;
          position: relative;

          h2 {
            position: relative;
            &:before {
              content: "";
              height: 0%;
              background-color: #fff;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              z-index: 5;
              transition: all 0.3s linear;
            }
            &.active {
              &:before {
                // content: "";
                height: 100%;
              }
            }
          }

          p {
            position: relative;
            &:before {
              content: "";
              height: 0%;
              background-color: #fff;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              z-index: 5;
              transition: all 0.3s linear;
              transition-delay: 0.3s;
            }
            &.active {
              &:before {
                // content: "";
                height: 100%;
              }
            }
          }

          a {
            color: #da566f;
            font-size: 13px;
            text-decoration: underline;
            font-weight: 600;
            display: inline-block;
            margin-top: 1em;
            position: relative;

            &:before {
              content: "";
              height: 0%;
              background-color: #fff;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              z-index: 5;
              transition: all 0.2s ease-in-out;
              transition-delay: 0.5s;
            }
            &.active {
              &:before {
                // content: "";
                height: 100%;
              }
            }
          }


          .button {
            display: block;
            overflow: hidden;
            width: 100%;
            margin-top: 4em;
            transition: all 0.4s;

            .someContainer {
              display: flex;
              justify-content: end;

              button {
                background-color: transparent;
                border: none;
                padding: 1rem;
              }
            }

            .inactive {
              i {
                color: red;
              }
              i:hover {
                color: red;
              }
            }


            .button-left {
              float: left;
              // width: 50%;
            }

            .button-right {
              float: right;
              // width: 50%;
              text-align: right;
            }

            i {
              font-size: 1.3em;
              cursor: pointer;
              color: #555;
              transition: all 0.3s;
            }

            i:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
// }

@media only screen and (max-width: 1024px) {
  html, body {
    .container {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 767px) {
  html, body {
    h2 {
      font-size: 1.5em;
    }

    .container {
      width: 93%;
      margin: 3% auto;
      overflow: inherit;
      height: 100%;
      position: relative;
      top: 0;
      transform: inherit;
      overflow: inherit;

      .wrapper {
        .slide {
          .slide-img {
            width: 100%;
            height: 45%;
          }

          .slide-content {
            width: 100%;
            padding: 2em 2em;
            background-color: #fff;

            .button {
              margin-top: 2em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {

}
