<section id="projects">

  <div class="projects-container">

    <div class="title-container">
      <div class="section-title">Work</div>
      <div class="section-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam optio
        quia laborum quam cumque impedit facilis eaque debitis. Perferendis,
        accusantium
      </div>
    </div>

    <div class="projects">
      <div class="filter-pills" >
          <div class="pill" *ngFor="let category of categories">
            <span>
              {{category.name}}
              <span class="project-quantity">
                ({{category.qty}})
              </span>
            </span>
          </div>

      </div>
    </div>


    <div class="cards-grid">
      <app-project-card></app-project-card>
      <app-project-card></app-project-card>
      <app-project-card></app-project-card>
    </div>


  </div>

</section>
