@import '/src/styles/_abstracts-dir';

.card-container {
  width: 18rem;
  margin: 1rem;
  // border: 1px $black solid;
  border: .2rem solid #05060f;
  box-shadow: .4rem .4rem #05060f;
  // border-radius: 5px;
  border-radius: 1rem;
  cursor: pointer;
  max-height: fit-content;

  .card-img {
    border-radius: .8rem .8rem 0px 0px;
    cursor: pointer;
  }

  .card-content {
    background-color: white;
    border-radius: 0px 0px .9rem .9rem;

    .card-header {
      padding: .5rem;
      text-align: center;
    }

    .icons-container {
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        margin: auto 2rem;
      }
    }

    .card-desctription {
      padding: .5rem;
      margin-bottom: 0;
      text-align: center;
      max-height: 85px;
    }
  }

  .btn-container {
    padding-block: 1rem;
    display: flex;
    justify-content: space-evenly;


    button {
      // margin: .5rem .5rem;

      // &:hover {
      //   color: white;
      //   background-color: black;
      // }
      a {
        &:hover {
          color: inherit;
        }
      }
    }
  }

}


//  * For tablet
@media only screen and (max-width: 767px) {}

//  * For mobile
@media only screen and (max-width: 767px) {
  .card-container {
    width: 80%;
    margin: 2rem auto;
  }
}
