@import '/src/styles/_abstracts-dir';

.card-container{
  width: 18rem;
  margin: 1rem;
  border: 1px $black solid;
  border-radius: 5px;
  .card-img {
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
  }

  .card-content {
    .card-header {
      padding: .5rem;
      text-align: center;
    }

    .icons-container {
      ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        margin: auto 2rem;
      }
    }

    .card-desctription {
      padding: .5rem;
      margin-bottom: 0;
      text-align: center;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    button{
      margin: .5rem .5rem;
      a {
        &:hover {
          color: gray;
        }
      }
    }
  }

}
