<div class="card-container">
  <img
    class="card-img"
    src="../../../assets/images/image_processing20200102-25922-12jakz1.png"
    alt="Card image cap"
  />
  <div class="card-content">
    <h3 class="card-header">Title</h3>
    <p class="card-desctription">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      tempore sint, esse molestias eos!
    </p>
<div class="btn-container">
  <button class="clear-button">Preview</button>
  <button class="dark-button">Github Repo</button>
</div>
  </div>
</div>
