<section id="intro">
  <div class="intro-container">
    <div class="image-container">
      <img src="../../../assets/images/developer_color.jpeg" />
    </div>

    <div class="greet-container">
      <h1 class="dev-name">Hello, I'm Elias Toscano 🫡</h1>
      <h1 class="dev-sub-header">
        <app-auto-type [words]="roles"></app-auto-type>
      </h1>

      <div>
        Experience developing, migrating, and maintaining enterprise
        applications.
      </div>
      <section class="technologies">
        <img
          class="techIcon"
          src="../../../assets/images/techIcons/html-5-svgrepo-com.svg"
        />
        <img
          class="techIcon"
          src="../../../assets/images/techIcons/css-3-svgrepo-com (1).svg"
        />
        <img
          class="techIcon"
          src="../../../assets/images/techIcons/js-svgrepo-com.svg"
        />
        <img
          class="techIcon"
          src="../../../assets/images/techIcons/react-javascript-js-framework-facebook-svgrepo-com.svg"
        />
        <img
          id="chakraIcon"
          src="../../../assets/images/techIcons/chakraUI.svg"
        />
        <img
          class="techIcon"
          src="../../../assets/images/techIcons/ng-component-scss-svgrepo-com.svg"
        />
        <!-- <img
          class="techIcon"
          src="../../../assets/images/techIcons/aws-svgrepo-com (1).svg"
        /> -->

        <img
          class="techIcon"
          src="../../../assets/images/techIcons/github-142-svgrepo-com.svg"
        />
        <img
          class="techIcon"
          src="../../../assets/images/techIcons/git-svgrepo-com.svg"
        />

        <img
          class="techIcon"
          src="../../../assets/images/techIcons/node-js-svgrepo-com.svg"
        />

        <img class="techIcon" src="../../../assets/images/techIcons/redux.svg" />
      </section>
      <div class="button-container">
        <button routerLink="/contact" class="dark-button">Contact me</button>
        <button routerLink="/resume">Check my resume</button>
      </div>
    </div>
  </div>
</section>
