<section id="intro">
  <div class="intro-container">
    <div class="image-container">
      <img src="../../../assets/images/blackWhite.png" />
    </div>

    <div class="greet-container">
      <h1 class="dev-name">Hello, I'm Elias Toscano</h1>
      <h1 class="dev-sub-header">Front end Developer</h1>
      <div class="quick-bio">
      I embrace new challenges and contribute to impactful projects. I am seeking an opportunity to join an organization where I can nurture my growth as a front-end developer and apply my skills to practical projects.
      </div>
      <div class="button-container">
        <button routerLink="/contact" class="dark-button" >Contact me</button>
        <button routerLink="/resume" >Check my resume</button>
      </div>
    </div>
  </div>

</section>
