@import '/src/styles/_abstracts-dir';
@import '/src/styles/_components-dir';
//  Mobile
  .intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    margin: 3rem auto;
    img{
      max-width: 100%;

    }
  }

  .greet-container {
    margin: auto 1rem;
    .dev-name{

    }
    .dev-sub-header{
      background-color: black;
      color: white;
      padding: .2rem .4rem;
    }
    .quick-bio{
      text-align: center;
    }
  }

  .button-container{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    button{
      @include clear-button;
    }

    .dark-button{
      @include black-button;
    }
  }

  //  Desktop
  @include lg {
    .intro-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: auto 1rem;
    }

    .image-container {
      display: flex;
      justify-content: center;
      margin: 1rem auto;
      max-width: 40%;
      flex-grow: 1;
      img{
        max-width: 70%;
      }
    }

    .greet-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;
      flex-grow: 1;
      margin: auto 10rem;
      .dev-name{

      }
      .dev-sub-header{

      }
      .quick-bio{

      }
    }

    .button-container{

    }

      .dark-button{

    }
  }


