<section id="intro">
  <div class="intro-container">
    <div class="image-container">
      <img src="../../../assets/images/developer_color.jpeg" />
    </div>

    <div class="greet-container">
      <h1 class="dev-name">Hello, I'm Elias Toscano 🫡</h1>
      <h1 class="dev-sub-header">
        <app-auto-type [words]="roles"></app-auto-type>
      </h1>

      <div>
        Experience developing, migrating, and maintaining enterprise
        applications.
      </div>
      <div class="button-container">
        <button routerLink="/contact" class="dark-button">Contact me</button>
        <button routerLink="/resume">Check my resume</button>
      </div>
    </div>
  </div>
</section>
